    * {
        box-sizing: border-box;
        font-family: 'Allerta Stencil', sans-serif;
    }
    
    html,
    body {
        padding: 0;
        margin: 0;
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(51, 66, 26)), to(#090a0f));
        height: auto;
        overflow: auto;
        overscroll-behavior: none;
    }
    /* The wrapper contains all of the page's content besides the footer, which is pushed to the bottom of the page */
    
    .wrapper {
        position: relative;
        min-height: 100%;
        padding-bottom: 130px;
        overflow: auto;
    }
    /* The footer is positioned at the bottom of the page */
    
    .footer {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        min-height: 100px;
        background: #090a0f;
    }
    /* The code styles the text at the bottom of the footer */
    
    .footer>.bottom {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 5px;
        border-top: 1px solid #32CD32;
        background: #090a0f;
    }
    
    .navbar {
        padding: 5px;
        height: auto;
        margin: 0;
        background-color: #090a0f;
        border-bottom: 1px solid #32CD32;
    }
    
    .navbar-brand {
        text-shadow: -1px 0 #32CD32, 0 1px #32CD32, 1px 0 #32CD32, 0 -1px #32CD32;
    }
    
    .navbar-header {
        animation: navbar-header 13s linear infinite alternate;
    }
    /* This CSS styles the ufo icon in the navbar */
    
    .nav-ufo {
        position: absolute;
        bottom: 5px;
        left: 80px;
        width: 35px;
        filter: drop-shadow(8px 8px 8px #FFFFFF);
        animation: ufo-flight 2.5s infinite alternate ease-in-out;
        animation-duration: 6s;
    }
    
    @keyframes ufo-flight {
        from {}
        to {
            width: 11vw;
            height: 10vw;
            transform: translate(85vw, 10vh);
        }
    }
    /* Adding styles to the aside and filter form */
    
    .ufo-form {
        margin-top: 50px;
    }
    
    .filters .panel-body {
        padding: 0;
    }
    
    .filters {
        margin-top: 10px;
        border-style: groove;
        border-color: #32CD32;
        background-color: rgb(51, 66, 26) !important;
    }
    
    div .panel-heading {
        text-align: center;
        background-color: rgb(51, 66, 26) !important;
        border-bottom-color: #32CD32 !important;
    }
    
    div .panel-body {
        background-color: rgb(51, 66, 26)!important;
    }
    
    .list-group-item {
        text-align: center;
        background-color: rgb(51, 66, 26)!important;
    }
    
    .btn-group-vertical {
        text-align: center;
    }
    
    input[type=text] {
        border: 2px solid #32CD32 !important;
        background-color: #405d27 !important;
        color: white !important;
    }
    
    .btn {
        display: block;
        align-self: center;
        margin: 0 auto;
        background-color: #405d27 !important;
        border: 2px solid #32CD32 !important;
    }
    
    .btn:focus,
    .btn:focus:active {
        outline: none;
    }
    
    select {
        align-self: center;
        background-color: #405d27; // color of the selected option
        color: #32CD32 !important;
        font-size: smaller;
        border: 2px solid #32CD32 !important;
    }
    
    .country-select {
        transform: translate(-5%, 0) !important;
    }
    
    select:focus,
    select:focus:active {
        outline: none;
    }
    
    select option {
        color: black; // color of all the other options
    }
    
    #table-area {
        border-style: groove;
        border-color: #32CD32;
    }
    
    #table-area th {
        border-bottom-color: #32CD32 !important;
    }
    
    #table-area th:first-child,
    #table-area th:nth-child(2),
    #table-area th:nth-child(6) {
        min-width: 70px;
    }
    
    .table-striped tbody tr:nth-of-type(odd) {
        /*background-color: #556B2F;*/
        background-color: #405d27;
    }
    
    .loader {
        margin-top: 50px;
    }
    
    .margin-top-50 {
        margin-top: 50px;
    }
    /* The styles for the parallax */
    
    .hero {
        height: 80vh;
        padding: 20px;
        margin: 0;
        background: black;
        background-image: url("../images/ngc604.jpg");
        background-size: cover;
        background-position: center;
    }
    
    .hero h1 {
        margin-top: 200px;
        font-size: 0.2rem;
        text-shadow: 2px 2px 10px black, 0 0 25px #32CD32, 0 0 15px #405d27;
        animation: title 1.2s forwards linear;
    }
    
    .hero p {
        font-size: 3rem;
        font-family: 'Quantico', sans-serif;
        color: #32CD32;
        opacity: 0;
        text-shadow: 2px 2px 4px #000000;
        animation: subtitle 1.2s forwards linear;
        animation-delay: 1.2s;
    }
    /* input placeholder color changes */
    
    .form-control::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: #32CD32;
        text-align: center;
        font-size: smaller;
    }
    
    .form-control::-moz-placeholder {
        /* Firefox 19+ */
        color: #32CD32;
        text-align: center;
        font-size: smaller;
    }
    
    .form-control:-ms-input-placeholder {
        /* IE 10+ */
        color: #32CD32;
        text-align: center;
        font-size: smaller;
    }
    
    .form-control:-moz-placeholder {
        /* Firefox 18- */
        color: #32CD32;
        text-align: center;
        font-size: smaller;
    }
    /* media queries which will only be activated at specific screen sizes */
    
    @media (max-width: 800px) {
        #table-area td {
            font-size: 1em;
        }
        select {
            text-align: center;
        }
    }
    
    @media (max-width: 500px) {
        #table-area thead {
            display: none;
        }
        #table-area tr td:first-child {
            font-size: 1.8em;
            font-weight: bold;
            background: rgb(6, 145, 6);
        }
        #table-area tr td:last-child {
            margin-bottom: 20px;
        }
        #table-area tr td:last-child::after {
            display: block;
            width: 100%;
            height: 1px;
            margin-top: 20px;
            content: " ";
            background: rgb(69, 119, 92);
        }
        #table-area td {
            font-size: 1.25em;
        }
        #table-area tbody td {
            display: block;
            text-align: center;
        }
        #table-area tbody td::before {
            display: block;
            font-size: 1.4em;
            font-weight: bold;
            text-align: center;
            content: attr(data-th);
        }
        select {
            text-align: center;
        }
        .hero h1 {
            animation: smaller-title 1.2s forwards linear;
        }
    }
    /* keyframe animations which will be used to animate the title */
    
    @keyframes title {
        from {
            opacity: 0;
        }
        to {
            font-size: 7.5rem;
            opacity: 1;
        }
    }
    
    @keyframes smaller-title {
        from {
            opacity: 0;
        }
        to {
            font-size: 5.5rem;
            opacity: 1;
        }
    }
    
    @keyframes subtitle {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }